.header {
  border-bottom: 2px solid var(--border);
  margin-bottom: var(--spacing-04);
}

.header .wrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.header a {
  color: var(--fg);
  transition: 0.2s ease all;
}

.header a:hover {
  color: var(--hl-01);
}

.header-actions {
  max-width: 200px;
}

.header-account {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--spacing-01);
}

.header-account pre {
  overflow: hidden;
  text-overflow: ellipsis;
}
