.collection-row {
  display: flex;
  flex-flow: row;
  padding: var(--spacing-02);
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-02);
}

.collection-row:not(:first-of-type) {
  border-top: 2px solid var(--border);
}

.collection-row-info {
  margin: 0;
  display: flex;
  flex-flow: column;
  border-radius: 0;
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--fg);
}
.collection-row-info span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
