.db-collections-wrapper {
  border: 2px solid var(--border);
  border-radius: var(--spacing-01);
  overflow: hidden;
  display: flex;
  flex-flow: column;
}

.db-collections-item {
  margin: 0;
  display: flex;
  flex-flow: column;
  border-radius: 0;
  padding: var(--spacing-02);
}

.db-collections-item:not(:first-of-type) {
  border-top: 2px solid var(--border);
}
