.modal-container {
  display: flex;
  flex-flow: column;
  border-radius: var(--rounded-corner-radius);
  width: 90%;
  max-width: 600px;
  padding: 2rem;
  background: black;
}

.modal-header {
  display: flex;
  flex-flow: row;
  gap: var(--spacing-01);
  padding: 0 0 1rem 0;
  align-items: center;
  justify-content: space-between;
}

.modal-header-title {
  display: flex;
  flex-flow: row;
  flex: 1 1 auto;
}

.modal-header-title h2 {
  margin: 0;
}

.modal-closing-button {
  display: flex;
  justify-self: end;
}

.modal-content {
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal-backdrop {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  overflow-y: auto;
}
