/* Variables */
:root {
  --main-bg-color: #121212;
  --main-text-color: #b7b7b7;

  --header-bg-color: #050505;
  --nav-active-bg-color: #0f0f0f;
  --nav-hover-bg-color: #1a1919;
  --nav-hover-text-color: #fffff;
  --nav-text-inactive-color: #808080;
  --heading-text-color: #ffffff;
  --link-active-text-color: #ffffff;
  --block-bg-color: #2a2a2a;

  --accent-color: #0e78a0;
  --accent-color-hover: #0091c8;

  --sub-nav-active-bg: #202020;
  --sub-nav-hover-bg: #2b2a2a;

  --heading-font-family: 'Raleway', sans-serif;
  --body-font-family: 'Inter', sans-serif;

  --rounded-corner-radius: 3px;
}
